@import url('https://fonts.googleapis.com/css?family=Montserrat');


/*background:url('../img/con_bg4.png') no-repeat center center;
*/
body{font-family: 'Montserrat',sans-serif;}
body { padding-top: 0px; }
.jumbotron h1{
    color: #fff;
}
.jumbotron p{
    color: #fff;
}

#myDiv
{
  height:500px;
  width:140px;
}
#myDiv img
{
  max-width:100%;
  max-height:100%;
  margin:auto;
  display:block;
}



/*Footer css*/
