@import url('https://fonts.googleapis.com/css?family=Montserrat');

@import url('https://fonts.googleapis.com/css?family=Gugi');

/*background:url('../img/con_bg4.png') no-repeat center center;
*/
body{font-family: 'Montserrat',sans-serif;}
body { padding-top: 0px; }

#login-dropdown{
font-family: 'Montserrat',sans-serif;



}
.jumbotron h1{
    color: #fff;
    margin-top:  50px;
}
.jumbotron p{
    color: #fff;
}

.carousel {
  width:640px;
  height:360px;
}
.jumbotron { max-height:300px; }

.dropdown-menu {
    float:right;
}
#headerr {


background-image:url(../images/back2.jpg);
background-size:cover;
background-position:top;
background-repeat: no-repeat;
min-height: 300px;
max-height: 400px;
opacity: 0.95;
}
#headerr h2 {
  color: #ff5252;
  position:absolute;
  text-align: center;
  position: sticky;
  padding-top:20px;

}
/*Footer css*/
.headerimage {
  background-color:#34495e;
  height:100px;
  width:100%;
  background-size:cover;
  position:relative;
  z-index:-1;
}
#backshape {
  z-index:1;
  display:block;
  float:left;
  margin-top:-100px;
  width:100%;
  background:white;
  transform:skew(0deg,10deg);
-ms-transform:skew(0deg,10deg); /* IE 9 */
-webkit-transform:skew(0deg,5deg); /* Safari and Chrome */
}
.map-responsive {
overflow:hidden;
padding-bottom:56.25%;
position:relative;>
height:0;
}
.map-responsive iframe {
left:0;
top:0;
height:100%;
width:100%;
position:absolute;
}

#Servicesss {

color: #30336b;

}
.row slideanim i{

  color: #30336b;

}
#login-dp{

    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.8);

}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.8);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.btn-fb{
    color: #fff;
    background-color:#3b5998;
}
.btn-fb:hover{
    color: #fff;
    background-color:#496ebc
}
.btn-tw{
    color: #fff;
    background-color:#55acee;
}
.btn-tw:hover{
    color: #fff;
    background-color:#59b5fa;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}
